@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    cursor: url(../img/cursor.cur), default;
    transition: .5s;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: "Roboto";
}

main {
    width: 74%;
    margin: 0 13%;
    padding: 0 15px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 70px;
    font-size: 30px;
    color: #1f222c;
    font-family: Roboto Slab;
}

h2 {
    text-align: left;
    padding-bottom: 28px;
    font-size: 20px;
    text-transform: uppercase;
    color: #b3b3b3;
}

h3 {
    padding-bottom: 26px;
    font-size: 18px;
    color: #1f222c;
}

textarea {
    font-style: 14px;
    font-family: "Roboto";
    min-height: 130px;
    max-height: 200px;
    resize: vertical;
}

input, textarea, select {
    border: 1px solid #cccccc;
    border-radius: 3px;
    transition: .5s;
    cursor: pointer;
}

input:disabled {
    background-color: #f7f7f7;
}

button {
    cursor: pointer;
}

label {
    cursor: pointer;
}

input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 2.5px rgba(62,106,255,0.55);
}

select {
    appearance: none;
    background-color: transparent;
}

.align_center {
    display: flex;
    align-items: center;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

.child1 select, textarea {
    width: 100%;
}

.parent {
    padding-bottom: 50px;
    flex-direction: row;
    gap: 350px;
}

.parent .child1 {
    max-width: 330px;
}

.parent .child6 {
    position: relative;
    max-width: 310px;
}

.child1 input {
    width: 100%;
}

.child1 input, .child1 option, .child1 textarea, .child1 select {
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 10px;
}

.child1 .arrow:before {
    top: 40%;
}

.child1 button {
    padding: 15px;
    width: 100%;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    background-color: #12d661;
    transition: .5s;
}

.child1 button:hover {
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
}

.child6 {
    min-width: 310px;
}

.wrapper {
    position: fixed;
    top: 35%;
    right: 13%;
    padding: 27px 25px 21px;
    border-radius: 5px;
    box-shadow:0px 5px 6px rgba(0,0,0,0.15);
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    z-index: 3;
}

.child6 .input {
    box-sizing: border-box;
    width: 100%;
    min-height: 36px;
    padding-left: 15px;
}

.child6 p, .child6 input {
    margin-bottom: 11px;
    font-size: 13px;
}

.child6 a {
    padding-bottom: 12px;
    font-size: 13px;
    color: #3e6aff;
}

.remember{
    max-height: 15px;
    padding: 15px 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: #1f222c;
    cursor: pointer;
}

.child6 .parent{
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-top: 45px;
}

.child6 .parent input{
    appearance: none;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #c5c5d4;
    border-radius: 3px;
    transition: .5s;
}

.child6 .parent input:checked {
    border-color: #244dd7;
}

.child6 .parent svg{
    display: none;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -70%);
    fill: #244dd7;
}

.child6 input:checked + svg{
    display: block;
}

.cross {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    background-color: #fafafa;
    border: none;
}

.cross:focus {
    box-shadow: none;
}

.remember input {
    width: 15px;
    height: 15px;
    margin: 0 10px 4px 0;
}

.child6 button {
    padding: 15px 0;
    width: 100%;
    color: #ffffff;
    background-color: #12d661;
    border: none;
    border-radius: 3px;
    transition: .5s;
}

.child6 button:hover {
    box-shadow: 2px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
}

.child2, .child3, .child4, .child5 {
    padding: 50px 0;
}

.child2, .child3, .child4 {
    border-bottom: 1px solid #dcdcde;
}

.child2 {
    border-top: 1px solid #dcdcde;
}

.rc {
    flex-direction: row;
    gap: 63px;
}

.radio, .checkbox {
    display: flex;
    flex-direction: column;
}

.radio label, .checkbox label {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    color: #1f222c;
}

.radio input {
    box-shadow: none;
}

.radio input, .checkbox input, .status input {
    margin-right: 10px;
}

.label1{
    max-height: 15px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: #1f222c;
    cursor: pointer;
}

.parent1{
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.parent1 input{
    appearance: none;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #c5c5d4;
    border-radius: 3px;
    transition: .5s;
}

.parent1 input:checked {
    border-color: #244dd7;
}

.parent1 svg{
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    fill: #244dd7;
}

.label1 input:checked + svg{
    display: block;
}

.label1 input {
    width: 15px;
    height: 15px;
    margin: 0 10px 4px 0;
}

.greybox {
    padding: 20px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.greybox section {
    display: flex;
    flex-direction: row;
}

.greybox p {
    padding-right: 10px;
    color: #b3b3b3;
}

.greybox .label {
    max-height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: #1f222c;
    cursor: pointer;
}

.greybox .parent{
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-top: 50px;
}

.greybox .parent input{
    appearance: none;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    transition: .5s;
}

.greybox .parent input:checked {
    border-color: #244dd7;
}

.greybox .parent svg{
    display: none;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -70%);
    fill: #244dd7;
}

.greybox input:checked + svg{
    display: block;
}

.greybox .label input {
    width: 15px;
    height: 15px;
    margin: 0 10px 4px 0;
}

.status {
    padding-bottom: 15px;
    gap: 25px;
}

.status label {
    display: flex;
    align-items: center;
    color: #1f222c;
}

.date {
    display: flex;
    align-items: center;
}

.date p {
    padding-right: 48px;
}

.date input {
    padding: 15px;
}

label.disabled-color {
    color: #b3b3b3;
}

.child3 form {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.sex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sex label {
    display: flex;
    gap: 15px;
    align-items: center;
}

.sex span {
    transition: .5s;
}

.man input {
    transition: .5s;
    background: url(../img/man.svg) no-repeat center/cover;
}

.woman input {
    transition: .5s;
    background: url(../img/woman.svg), no-repeat center/cover;
}

.sex input {
    appearance: none;
    outline: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    filter: grayscale(1);
}

.sex input:checked {
    filter: grayscale(0);
}

.man input:checked + span {
    color: #3e6aff;
}

.woman input:checked + span {
    color: #3e6aff;
}

.extra_information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.extra_information div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.extra_information p {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.extra_information input {
    appearance: none;
    outline: none;
    box-sizing: border-box;
    width: 45px;
    height: 25px;
    border-radius: 13px;
    background-color: #cfcfd1;
    transition: .5s;
}

.extra_information span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 11px;
    background-color: #fff;
    transform: translateY(-50%);
    transition: .5s;
}

.extra_information input:checked {
    background-color: #3e6aff;
}

.extra_information input:checked + span {
    left: calc(100% - 23px);
}

.child4 table {
    width: 55%;
    border-collapse: separate;
    border-spacing: 15px;
}

.child4 tr {
    padding-bottom: 15px;
}

.child4 td {
    color: #1f222c;
}

.child4 input, .child4 textarea, .child4 select {
    padding: 11px 16px;
    box-sizing: border-box;
}

.text {
    min-width: 160px;
}

.input {
    width: 100%;
}

.arrow {
    position: relative;
    width: 100%;
    z-index: 1;
}

.arrow:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    border: 5px solid transparent;
    border-top-color: #000;
    transform: rotateY(-25%);
    z-index: -1;
}

.gender {
    padding: 6px 0;
    display: flex;
    flex-direction: row;
    gap: 26px;
}

.gender label {
    display: flex;
    gap: 8px;
}

.file {
    display: none;
}

.file + label {
    display: inline-block;
    padding: 12px 37px;
    color: #fff;
    background-color: #3e6aff;
    border-radius: 3px;
    transition: .5s;
}

.file + label:hover {
    box-shadow: 0px 2px 2.5px rgba(15,40,126,0.35);
    background-color: #2857f4;
}

.padding {
    vertical-align: top;
    padding-top: 11px;
}

.child4 textarea {
    margin-bottom: 15px;
    font-size: 14px;
}

.child4 button {
    padding: 13px 0;
    color: #fff;
    background-color: #12d661;
    border: none;
    border-radius: 3px;
    transition: .5s;
}

.child4 button:hover {
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
}

.child5 {
    max-width: 680px;
}

.child5 form {
    width: 100%;
}

.child5 table {
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
}

.first td {
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e9e9;
}

.second td {
    padding: 25px 0 18px;
}

.child5 p {
    padding-bottom: 6px;
    font-size: 13px;
    color: #b3b3b3;
}

.child5 .label {
    max-height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    line-height: 1.6em;
    cursor: pointer;
}

.child5 .parent{
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-top: 45px;
}

.child5 .parent input{
    appearance: none;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #c5c5d4;
    border-radius: 3px;
    transition: .5s;
}

.child5 .parent input:checked {
    border-color: #244dd7;
}

.child5 .parent svg{
    display: none;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -70%);
    fill: #244dd7;
}

.child5 input:checked + svg{
    display: block;
}

.child5 div {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.child5 .pad {
    box-sizing: border-box;
    padding: 12px 15px;
    width: 100%;
    max-width: 220px;
}

.child5 .arrow:after {
    content: "";
    position: absolute;
    top: 10%;
    right: 33px;
    height: 20px;
    width: 1px;
    background-color: #ccc;
    transform: rotateY(-50%);
    z-index: -1;
}

.adress {
    box-sizing: border-box;
    padding: 12px 15px;
    width: 100%;
    max-width: 450px;
}

.child5 button {
    font-size: 14px;
    border-radius: 3px;
}

.reset {
    padding: 13px 26px;
    color: #6e6f77;
    background-color: #fff;
    border: 1px solid #85868d;
    transition: .5s;
}

.reset:hover {
    color: #fff;
    background-color: #85868d;
}

.submit {
    padding: 14px 28px;
    color: #ffffff;
    background-color: #12d661;
    border: none;
    transition: .5s;
}

.submit:hover {
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
}